/*************记录列表*************************/
.aigov-datalist-search{
	position:relative;
	width:100%;
	height:3em;
	display:none;
}
.aigov-datalist-list{
	position:relative;
	width:100%;
	overflow:hidden;
	background-color: #fff;
}
.aigov-datalist-button{
	position:absolute;
	width:100%;
	height:3em;
	bottom:0em;
	display:none;
}